{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": [
      1,
      {
        "forbid": ["any"],
        "checkContextTypes": false,
        "checkChildContextTypes": false
      }
    ],
    "jsx-a11y/media-has-caption": [
      0,
      {
        "audio": ["Audio"],
        "video": ["Video"],
        "track": ["Track"]
      }
    ],
    "react/button-has-type": [
      0,
      {
        "button": true,
        "submit": true,
        "reset": true
      }
    ],
    "react/destructuring-assignment": [
      1,
      "always",
      {
        "ignoreClassFields": true
      }
    ]
  }
}
